*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color:#D4AF37;
}

header{
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgb(95, 7, 36);
    position: fixed;
    top: 0px;
    z-index: 1;
    text-shadow: rgba(255,162,0,0.9) 0px 0px 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.logo{
    
   
   display: flex;
   align-items: center;
   line-height: 25px;
   padding-left: 20px;
   font-family: cursive;
   padding-top: 10px;
 
}

.glam{
    color:#D4AF37;
}
.purse{
    color: aliceblue;
}
.nimra{
    font-size: 1rem;
    color: #D4AF37;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 80px;

}

.search_bag{
    
    height: 50px;;
    display: flex;
    align-items: center;
    justify-content:space-around;
    /* background-color: aquamarine; */
    gap: 10px;
    padding-right: 20px;
}

.drop_1{
    
    height: 30px;
    font-size: 1rem;
    
    align-items: center;
    justify-content: center;
}

.search_btn{
    width: 100px;
    height: 30px;
    background-color:#D4AF37;
    color:rgb(95, 7, 36);
    font-size: 1rem;
    border-radius: 5px;
    font-weight: bolder;
    text-shadow: 0cqmax;


}
.search_btn:hover{
    background-color: rgb(95, 7, 36);
    color:#D4AF37;
}

@media screen and (max-width:730px){
    .logo{
        width:100%;
        justify-content: center;
    }
    .glam{
       width: 100%;
    }
    .search_bag{
       width:100%;
       justify-content: center;
       padding: 10px;
}
.drop_1{
    font-size: 12px;
}
}

.imgs{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 120px;
}
.gif{
    width:100%;
    height: 600px;;
    
}
.card{
    width:100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    /* background-color: aqua; */
    padding: 100px;
    gap: 15px;
    /* margin-top: 0px; */
}
.card1{
    width:250px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(204, 235, 235);
    -webkit-box-shadow:0px 0px 21px 4px rgb(95, 7, 36,0.9);
-moz-box-shadow: 0px 0px 21px 4px rgb(95, 7, 36,0.9);
box-shadow: 0px 0px 21px 4px rgb(95, 7, 36,0.9);
    /* gap:5px; */
    
}
.cardImg{
    width:100%;
    height:200px;
    object-fit: cover;
    background-color: rgb(204, 235, 235);
    display: flex;
    align-items: center;
    justify-content: center;
    

}
.cardImg>img{
    width:70%;
}
.card_price{
    width:100%;
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
   }
.card_type{
    width:100%;
    height: 50px;
    text-align: center;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
