*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: rgb(95, 7, 36);
    position: fixed;
    top: 0px;
    z-index: 1;
}

.logo{
    
   
   display: flex;
   align-items: center;
   line-height: 25px;
   padding-left: 20px;
 
}

.glam{
    color:#D4AF37;
}
.purse{
    color: aliceblue;
}
.nimra{
    font-size: 1rem;
    color: #D4AF37;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 80px;

}

.search_bag{
    
    height: 50px;;
    display: flex;
    align-items: center;
    justify-content:space-around;
    /* background-color: aquamarine; */
    gap: 10px;
    padding-right: 20px;
}

.drop_1{
    width: 200px;;
    height: 30px;
    
    align-items: center;
    justify-content: center;
}

.search_btn{
    width: 100px;
    height: 30px;
    background-color:#D4AF37;
    color:rgb(95, 7, 36);
    font-size: 1rem;
    border-radius: 5px;
    font-weight: bolder;
    text-shadow: 0cqmax;


}
.search_btn:hover{
    background-color: rgb(95, 7, 36);
    color:#D4AF37;
}